/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../scss/sass/screen.scss */
html {
  background-color: #f7f7f7;
}

/* line 25, ../scss/sass/screen.scss */
html, body {
  min-height: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  color: #505050;
}

/* line 32, ../scss/sass/screen.scss */
#wrap {
  width: 850px;
  margin: 0px auto -40px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

/* line 40, ../scss/sass/screen.scss */
#content {
  height: 100%;
}

/* line 43, ../scss/sass/screen.scss */
#header {
  height: 40px;
  background-color: #aaa;
  color: #fdfdfd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(70%, #808080), color-stop(100%, #606060));
  background-image: -webkit-linear-gradient(#808080, #808080 70%, #606060);
  background-image: -moz-linear-gradient(#808080, #808080 70%, #606060);
  background-image: -o-linear-gradient(#808080, #808080 70%, #606060);
  background-image: linear-gradient(#808080, #808080 70%, #606060);
}

/* line 49, ../scss/sass/screen.scss */
#header-content {
  width: 850px;
  height: 20px;
  margin: auto;
  padding: 10px 0;
  line-height: 20px;
  clear: both;
}

/* line 58, ../scss/sass/screen.scss */
#header-title {
  float: left;
}

/* line 61, ../scss/sass/screen.scss */
#header-buttons {
  float: right;
  font-size: 0.813em;
}

/* line 65, ../scss/sass/screen.scss */
#main {
  width: 560px;
  position: absolute;
  left: 250px;
  top: 0;
  padding: 20px;
  overflow: auto;
  padding-bottom: 40px;
}

/* line 75, ../scss/sass/screen.scss */
#sidebar {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 40px;
  padding-top: 20px;
}

/* line 84, ../scss/sass/screen.scss */
#sidebar-content {
  background-color: #eff0f2;
  width: 208px;
  padding: 20px 20px 40px 20px;
  line-height: 150%;
  border: 1px solid #fff;
  outline: 1px solid #cfcfcf;
}

/* line 96, ../scss/sass/screen.scss */
#sidebar-content ul {
  font-weight: bold;
}

/* line 99, ../scss/sass/screen.scss */
#sidebar-content ul ul {
  padding-left: 20px;
  font-weight: normal;
}

/* line 109, ../scss/sass/screen.scss */
.push {
  height: 40px;
  clear: both;
}

/* line 113, ../scss/sass/screen.scss */
#footer {
  clear: both;
  height: 40px;
  background-color: #bbb;
}

/* line 119, ../scss/sass/screen.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 20px 0;
}

/* line 124, ../scss/sass/screen.scss */
h2 {
  font-size: 2em;
  margin: 1em;
}

/* line 128, ../scss/sass/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 131, ../scss/sass/screen.scss */
h4 {
  font-size: 0.875em;
  font-weight: bold;
}

/* line 135, ../scss/sass/screen.scss */
#main ul {
  padding: 20px;
  font-size: 0.875em;
}

/* line 139, ../scss/sass/screen.scss */
#main li {
  list-style-type: circle;
}

/* line 146, ../scss/sass/screen.scss */
p {
  font-size: 0.875em;
  line-height: 120%;
}
