<!doctype html>
<head>
<title>dev portal</title>
 <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/static/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/static/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
<div id="header">
  <div id="header-content">
    <div id="header-title">header</div>
    <div id="header-buttons">
      settings / logout
    </div>
  </div>
</div>
<div id="wrap"> 
  <div id="content">
    <div id="main">
      {{ content }}
    </div>
    <div id="sidebar">
      <div id="sidebar-content">
        sidebar
        <ul id="nav">
          <li>A</li>
          <li>B
            <ul>
              <li>B.1</li>
              <li>B.2</li>
            </ul>
          </li>
          <li>C</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>
<div id="footer">
  footer
</div>
</body>
</html>
